body {
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
	background-image: url("Images/background.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	}

.container {
    max-width: 1300px;
    margin: 0 auto; 
    background-color: #FFFFFF; 
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    padding: 0px;
    height: auto;
}

/* Header Styles */
header {
	background-color: #1a1e1b;
	padding-bottom: 10px;
	justify-content: space-between;
	margin-bottom: 15px;
}

header h1 {
	margin: 0;
}

.left-section {
	height: min-content;
}

.left-section img {
	padding: 15px;
	padding-top: 5px;
}

.left-section img:hover {
    opacity: 0.8;
}

.right-section {
	display: flex;
	align-items: center;
	padding-top: 20px;
	justify-content: flex-end;
	align-items: right;
}

.right-section img {
	margin-right: 10px;
}

.right-section .social-icon:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

.image {
	display: block; 
	margin: auto; 
	border: 2px solid black; 
	width: 80%; 
	height: auto;
}

.second {
	opacity: 0;
	margin-top: 40px;
	height: 1px;
}

@media screen and (max-width: 800px) {	 
	header {
		height: 125px;
	}
	
	.first {
		opacity: 0;
	}

	.second {
		opacity: 1;
		height: auto;
	}

	.right-section {
		display: none;
	}

	.left-section {
		margin: auto;
		align-content: center;
	}

	.left-section a img{
		width: 200px;
	}
}



@font-face {
	font-family: 'Nunito';
	src: url('Fonts//Nunito/Nunito-VariableFont_wght.ttf');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito-SemiBold';
	src: url('Fonts//Nunito/Nunito-VariableFont_wght.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito-Light';
	src: url('Fonts//Nunito/Nunito-VariableFont_wght.ttf');
	font-weight: 500;
	font-style: normal;
}

h2, h3, h4, p {
	font-family: 'Nunito', sans-serif;
}

#recommended h2 {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 130px;
	padding-bottom: 10px;
	font-weight: 900;
}

/* Hero Section Styles */
#hero {
    margin-right: 200px;
    margin-left: 200px;
	background-color: #1c1c1c;
	color: #fff;
	padding: 60px;
	text-align: center;
}

#hero h2 {
	margin: 0;
}

#hero p {
	font-size: 20px;
	margin-bottom: 40px;
}





.navigation-auto {
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: center;
	margin: auto;	
}

.navigation-auto div {
	border: 2px solid #24793e;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}

.navigation-auto div:not(:last-child) {
	margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
	background: #24793e;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
	background: #24793e;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
	background: #24793e;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
	background: #24793e;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
	background: #24793e;
}

/* Trending Games Section Styles */
#featured h2 {
	font-size: 30px;
	padding-top: 0px;
	margin-bottom: 0;
	margin-top: 20px;
	text-align: center;
}

/* Home page Button Styles */
.button2 {
	width: 100%;
    padding: 15px;
    font-size: 20px;
    color: #fff;
    background-color: #00963e;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
	margin-bottom: 20px;
}

.button2:hover {
	background-color: darkgreen;
}

@media screen and (max-width: 800px) {
	#featured-games > * > * {
		font-size: 12px;
	}

	#featured-games > .game > .button2 {
		padding: 10px;
		height: auto;
		font-size: 8px;
	}
	
}

#browse h2 { 
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 130px;
	padding-bottom: 10px;
}

/* Games page grid Styles */
.games-grid-container {
    margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 50px;
}

.games-grid {
	display: grid;
	align-content: center;
	grid-template-columns: repeat(3, 3fr);
	grid-column-gap: 10px;
	grid-row-gap: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

.allgames {
	text-align: center;
	width: auto;
}

.allgames img {
	border-radius: 10%;
}

.allgames img:hover {
	transform: scale(1.05);
}

.allgames h3 {
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.button3 {
	width: 100%;
    padding: 15px;
    font-size: 20px;
    color: #fff;
    background-color: #00963e;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
	margin-bottom: 20px;
}

/* About Us page Styles */
#about-us h2 {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 130px;
	padding-bottom: 10px;
}

.team-banner {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color:#000000;
}
  
.team-banner img {
	border-radius: 10px;
	opacity: 0.6;
}
  
.team-banner-text {
	position: absolute;
	min-width: 800px;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	color: #fff;
}
  
.team-banner-text h4 {
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
}
  
.team-banner-text p {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.about-us-grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 210px 1fr 50px 75px;
	gap: 20px;
	row-gap: 10px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 26px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0;
	text-align: justify;
}

.about-us-grid-container p {
	margin: 0;
}

.about-us-grid-item-1 {
	grid-column-start: 1;
	grid-column-end: 5;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
	text-align: center;
}

.about-us-grid-item-1 p {
	line-height: 1.5;
	font-family: 'Nunito-SemiBold';
}

.about-us-grid-item-1 h3 {
	color:#24793e;
	margin: 0;
	margin-bottom: 5px;
	font-size: 55px;
}

.about-us-grid-item-2, .about-us-grid-item-3, .about-us-grid-item-4, .about-us-grid-item-5 {
	height: 270px;
	width: auto;
	position: relative;
	cursor: pointer;
}

.about-us-grid-item-2 img, .about-us-grid-item-3 img, .about-us-grid-item-4 img, .about-us-grid-item-5 img {
	display: block;
	width: 100%;
	overflow: hidden;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #030303;
	opacity: 75%;
	overflow: hidden;
	height: 0;
	transition: .5s ease;
}

.about-us-grid-item-2:hover .overlay, .about-us-grid-item-3:hover .overlay, .about-us-grid-item-4:hover .overlay, .about-us-grid-item-5:hover .overlay {
	height: 100%;
}

.about-us-grid-text {
	color: white;
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.2;
	width: 220px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.about-us-grid-item-6, .about-us-grid-item-7, .about-us-grid-item-8, .about-us-grid-item-9 {
	text-align: center;
	align-self: baseline;
	border: 1px solid #000000;
	border-radius: 5px;
	background-color:#24793e;
	color:#fff;
	padding: 10px;
	font-size: 24px;
}

.about-us-grid-item-10 {
	grid-column-start: 1;
	grid-column-end: 5;
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
	align-self: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.about-us-grid-item-10 p {
	font-family: 'Nunito-SemiBold';
}

/* Blog Page Styles */

#blog h2 {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 130px;
	padding-bottom: 10px;
}

.blog-grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 75px 200px 250px 1fr;
	column-gap: 20px;
	row-gap: 15px;
	padding: 10px;
	padding-top: 0px;
	box-sizing: border-box;
	font-size: 26px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 0;
	text-align: justify;
	font-family: 'Nunito-SemiBold'
}

.blog-grid-item-1 {
	grid-column-start: 1;
	grid-column-end: 4;
	text-align: center;
	align-self: center;
	color: #24793e;
	text-decoration: underline;
}

.blog-grid-item-1 h3 {
	font-size: 40px;
	margin: 0;
	text-align: center;
}

.blog-grid-item-2 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: span 3;
	margin-left: 30px;
	margin-top: 20px;
}

.read-more-btn {
	width: 100%;
    padding: 15px;
    font-size: 20px;
    color: #fff;
    background-color: #00963e;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.read-more-btn:hover {
	background-color: darkgreen
}

.read-more-text {
	display: none;
}

.read-more-text--show {
	display: inline;
}

.blog-grid-item-3 {
	grid-column-start: 3;
	grid-column-end: 4;
}

.blog-grid-item-3 img {
	border-radius: 10px;
	opacity: 0.9;
	margin-top: 30px;
}

.blog-grid-item-4 {
	grid-column-start: 3;
	grid-column-end: 4;
	margin-top: 60px;
}

.blog-grid-item-4 img {
	border-radius: 10px;
	opacity: 0.9;
}

.blog-grid-item-5 {
	grid-column-start: 1;
	grid-column-end: 4;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color:#000000;
	margin-top: 40px;
}
  
.blog-grid-item-5 img {
	border-radius: 10px;
	opacity: 0.9;
}

.blog-grid-item-6 {
	grid-column-start: 1;
	grid-column-end: 4;
	margin-left: 80px;
	margin-right: 80px;
	text-align: center;
}

.blog-grid-item-7 {
	grid-column-start: 1;
	grid-column-end: 4;
}

.form-container {
	display: flex;
   	align-items: center;
   	justify-content: center;
	height: 100px;
}

.email {
    position: relative;
	margin: 20px;
}

.email i {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
}

.email input {
    padding: 15px 60px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: #eee;
    border-radius: 10px;
	margin-right: 15px;
}


.email input:focus {
	border: 3px solid #555;
}

.email input::placeholder {
    color: #bbb;
    font-weight: 500;
}

.form-button button {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    color: #fff;
    background-color: #00963e;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.form-button button:hover {
	background-color: darkgreen;
}

.message {
    position: relative;
    display: flex;
    justify-content: center;
	height: 40px;
}

.message .success {
    font-size: 28px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}

.message .danger {
    font-size: 28px;
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}

@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

/* Store Page Styles */

.section-title {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 130px;
	padding-bottom: 10px;
}

#cart-icon {
	font-size: 1.8rem;
}

@font-face {
	font-family: 'Poppins-Regular';
	src: url('Fonts///Poppins/Poppins-Regular.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('Fonts///Poppins/Poppins-SemiBold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('Fonts///Poppins/Poppins-Bold.ttf');
	font-weight: 900;
}

.store-grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	gap: 1.5rem;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.product-title {
	font-family: 'Poppins-Bold';
	font-weight: 600;
	font-size: 1.1rem;
	margin-top: 0;
	margin-bottom: 0.5rem;
	text-transform: uppercase;
}

.price {
	font-family: 'Poppins-Regular';
}

.store-grid-container img {
	width: 100%;
	height: auto;
	border-radius: 20px;
}

.product-box {
	position: relative;
}

.product-box:hover {
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	transition: 0.4;
}

.add-cart {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #1a1e1b;
	color:#24793e;
	padding: 6px;
	cursor: pointer;
	border-radius: 3px;
	font-size: 1.6rem;
}

.add-cart:hover {
	background: #0000001c;
}

.cart {
	grid-column-start: 4;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 4;
	border: 2px solid rgb(230, 228, 228);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	min-width: 400px;
	max-width: 400px;
}

.cart-title {
	font-family: 'Nunito-SemiBold';
	margin-top: 0;
	text-align: center;
	font-size: 30px;
}

.cart-box {
	display: grid;
	grid-template-columns: 32% 50% 18%;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
}

.cart-img {
	width: 100px;
	height: 100px;
	object-fit: contain;
	padding: 10px;
}

.detail-box {
	display: grid;
	row-gap: 0.5rem;
	margin-left: 15px;
}

.cart-product-title {
	font-size: 1rem;
	text-transform: uppercase;
	font-family: 'Poppins-Bold';
}

.cart-price {
	font-size: 1rem;
	font-family: 'Poppins-Regular';
}

.cart-quantity {
	border: 1px solid #171427;
	outline-color: #fd4646;
	width: 2.4rem;
	text-align: center;
	font-size: 1rem;
}

.cart-remove {
	font-size: 24px;
	cursor: pointer;
	color: #fd4646
}

.total {
	display: flex;
	justify-content: flex-end;
	margin-top: 1.5rem;
	border-top: 1px solid #171427;
}

.total-title {
	font-size: 1rem;
	font-weight: 600;
	margin-top: 0.5rem;
	font-family: 'Poppins-Bold';
}

.total-price {
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	font-family: 'Poppins-Regular';
}

.btn-buy {
	display: flex;
	margin: 1.5rem auto 0 auto;
	padding: 12px 20px;
	border: none;
    padding: 15px;
	font-family: 'Nunito-SemiBold';
    font-size: 20px;
    color: #fff;
    background-color: #00963e;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-buy:hover {
	background: darkgreen;
}

/* Footer Styles */
.foot {
	background-color: #1a1e1b;
	padding-left: 20px;
	padding-right: 15px;
	margin-bottom: 0px;
}

.foot p {
	font-family: 'Poppins-Regular';
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0px;
}
footer {
	text-align: center;
	color: #b9b7b7;
	text-decoration: underline;
}